


{% extends 'main.html' %}


{% block content %}
 <style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
 </style>
<div class="home-container">

    <div>
        <h3>Browse Topic</h3>
        <a href="{% url 'home' %}">All</a>
            
            {% for topic in topics  %}
               <h3><a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a></h3> 
            {% endfor %}
                


    </div>




    <div>

        <div>
         <div>
          <a href="{% url 'createRoom' %}">+Create Room</a>
         </div>
           
           {% for x  in rooms  %}
           <div>
             <a href="{% url 'editRoom' x.id %}">Edit</a>
             <a href="{% url 'deleteRoom' x.id %}">Delete</a>
           </div>
           <a href="">@{{x.host}}</a>
           <h4>{{x.id}}----<a href="{% url 'room' x.id %}">{{x.name}}</a></h4>
           <p> comment made {{x.created_date|timesince}} ago</p>
           <hr>
           {% endfor %}
               
          
        </div>   
       </div>
</div>
{% endblock content %}